<div class="page-title">
  <ol class="breadcrumb m-0">
    <li class="breadcrumb-item">Multiforce
    </li>
    <li class="breadcrumb-item active" style="cursor: pointer;">Main Page
    </li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Bảng Order Multi Assy</h4>
        <div class="table-responsive">
          <table class="table table-bordered mb-0">

            <thead>
              <tr>
                <th></th>
                <th></th>
                <th>Resign</th>
                <th>Long Sick</th>
                <th>New OP</th>
                <th>Absent</th>
                <th>Need SP</th>
                <th>Extra Work</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="2" class="vertical-align">Assy1</td>
                <td>Required</td>
                <td>{{assy4.resign}}</td>
                <td>{{assy4.longSick}}</td>
                <td>{{assy4.newOP}}</td>
                <td>{{assy4.absentOP}}</td>
                <td>{{assy4.needSP}}</td>
                <td>{{assy4.extraWork}}</td>
                <td>{{assy4.total}}</td>
              </tr>
              <tr>
                <td>Replaced</td>
                <td>{{assy4.replacedResign}}</td>
                <td>{{assy4.replacedLongSick}}</td>
                <td>{{assy4.replacedNewOP}}</td>
                <td>{{assy4.replacedAbsentOP}}</td>
                <td>{{assy4.replacedNeedSP}}</td>
                <td>{{assy4.replacedExtraWork}}</td>
                <td>{{assy4.replacedTotal}}</td>
              </tr>
              <tr>
                <td rowspan="2" class="vertical-align">Assy2</td>
                <td>Required</td>
                <td>{{assy4.resign}}</td>
                <td>{{assy4.longSick}}</td>
                <td>{{assy4.newOP}}</td>
                <td>{{assy4.absentOP}}</td>
                <td>{{assy4.needSP}}</td>
                <td>{{assy4.extraWork}}</td>
                <td>{{assy4.total}}</td>
              </tr>
              <tr>
                <td>Replaced</td>
                <td>{{assy4.replacedResign}}</td>
                <td>{{assy4.replacedLongSick}}</td>
                <td>{{assy4.replacedNewOP}}</td>
                <td>{{assy4.replacedAbsentOP}}</td>
                <td>{{assy4.replacedNeedSP}}</td>
                <td>{{assy4.replacedExtraWork}}</td>
                <td>{{assy4.replacedTotal}}</td>
              </tr>
              <tr>
                <td rowspan="2" class="vertical-align">Assy3</td>
                <td>Required</td>
                <td>{{assy4.resign}}</td>
                <td>{{assy4.longSick}}</td>
                <td>{{assy4.newOP}}</td>
                <td>{{assy4.absentOP}}</td>
                <td>{{assy4.needSP}}</td>
                <td>{{assy4.extraWork}}</td>
                <td>{{assy4.total}}</td>
              </tr>
              <tr>
                <td>Replaced</td>
                <td>{{assy4.replacedResign}}</td>
                <td>{{assy4.replacedLongSick}}</td>
                <td>{{assy4.replacedNewOP}}</td>
                <td>{{assy4.replacedAbsentOP}}</td>
                <td>{{assy4.replacedNeedSP}}</td>
                <td>{{assy4.replacedExtraWork}}</td>
                <td>{{assy4.replacedTotal}}</td>
              </tr>
              <tr>
                <td rowspan="2" class="vertical-align">Assy4</td>
                <td>Required</td>
                <td>{{assy4.resign}}</td>
                <td>{{assy4.longSick}}</td>
                <td>{{assy4.newOP}}</td>
                <td>{{assy4.absentOP}}</td>
                <td>{{assy4.needSP}}</td>
                <td>{{assy4.extraWork}}</td>
                <td>{{assy4.total}}</td>
              </tr>
              <tr>
                <td>Replaced</td>
                <td>{{assy4.replacedResign}}</td>
                <td>{{assy4.replacedLongSick}}</td>
                <td>{{assy4.replacedNewOP}}</td>
                <td>{{assy4.replacedAbsentOP}}</td>
                <td>{{assy4.replacedNeedSP}}</td>
                <td>{{assy4.replacedExtraWork}}</td>
                <td>{{assy4.replacedTotal}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container-fluid -->