<div>
  <div class="table-responsive">
    <table id="basic-datatable" class="
        table table-bordered
        dt-responsive
        nowrap
        no-footer
        dtr-inline
      ">
      <thead>
        <tr>
          <th>Model</th>
          <th>Cell</th>
          <th>Station</th>
          <th>Shift</th>
          <th>From Date</th>
          <th>To Date</th>
          <th>Date Created</th>
          <th>Type</th>
          <th>All Day/Half Day</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let table of orderList; let i = index">
        <tr>
          <td>
            {{table.model}}
          </td>
          <td>
            {{ table.cell }}
          </td>
          <td>{{ table.stationName }}</td>
          <td>{{table.shift}}</td>
          <td>
            {{table.fromDate | date}}
          </td>
          <td>
            {{table.toDate | date}}
          </td>
          <td>
            {{table.createdDate | date}}
          </td>
          <td>
            {{table.typeAbsent}}
          </td>
          <td>
            {{table.type === 'all' ? 'All day': 'Half day'}}
          </td>
          <td style="cursor: pointer; color: blue; text-decoration: underline;">Update</td>
          <td style="cursor: pointer; color: blue; text-decoration: underline;">Delete</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ngb-pagination [collectionSize]="totalData" [(page)]="currentpage"
    class="pagination pagination-rounded justify-content-end mb-2" aria-label="Default pagination">
  </ngb-pagination>
</div>
<!-- <app-no-data *ngIf="canShowNoData()"></app-no-data> -->