.expand-row {
  width: 100%;
  border: solid 1px #596269;
  display: inline-block;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: top;
  background: #596269;
  color: #ffffff !important;
}
td, tr {
  text-align: center;
}