<div class="page-title">
  <ol class="breadcrumb m-0">
    <li class="breadcrumb-item">Dashboard
    </li>
    <li class="breadcrumb-item active" style="cursor: pointer;">View other cell
    </li>
  </ol>
</div>
<div style="border: 2px solid black">
  <h3 style="text-align:center;margin:0;padding:0;line-height:30px;height:38px;color:#000">Attendance Board</h3>
  <div class="w-100">
    <div class="card">
      <div class="card-body">
        <div>
          <div class="row">
            <span *ngFor="let item of employeeList"
              style="width: 80px; padding: 0px!important; margin-right: 10px; text-align: center;">
              <span class="dropdown" style="cursor: pointer;">
                <img [src]="item.code != null ? createImgPath(item)  : 'assets/images/users/face_absent.png'"
                  alt="employee" style="width: 55px; height: 55px;" />
                  <!-- <img [src]="'assets/images/users/face_absent.png'"
                  alt="employee" style="width: 55px; height: 55px;" /> -->
                <div class="dropdown-menu">
                  <div class="dropdown-item" *ngIf="isProduct" (click)="openRegisterMultiModal(item)">Đăng ký nghỉ</div>
                  <div class="dropdown-item" (click)="openEmployeeInfoModal(item)">Thông tin bản thân</div>
                </div>
              </span>
              <p class="m-b-0">{{item.last_name}}</p>
              <p class="m-b-0">{{item.code}}</p>
              <p class="m-b-0">{{item.station}}</p>
            </span>
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
    <!-- end card -->
  </div>
</div>