input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    height: 36.3px;
    background-color: #34c38f;
    color: white;
    border-radius: 0.25rem;
}